body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.commentBox {
    background-color:#efefef;
    padding:10px;
    border-radius:10px;
}

.starFade{
    background-image:url('/Images/StarFade.gif');
    min-width:30px;
    min-height:30px;
    display:inline-block;
    cursor:pointer;
}

.starFadeN{
    background-image:url('/Images/StarFade.gif');
    min-width:30px;
    min-height:30px;
    display:inline-block;
}

.starGlow{
    background-image:url('/Images/starglow.gif');
    min-width:30px;
    min-height:30px;
    display:inline-block;
    cursor:pointer;
}
.starGlowN{
    background-image:url('/Images/starglow.gif');
    min-width:30px;
    min-height:30px;
    display:inline-block;
}